{% extends 'base.html.twig' %}

{% block title %}ArrayRun Phaser Nivel 1{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/ArrayRun-lvl1.css') }}">
{% endblock %}

{% block body %}
    <div id="game-container" style="width: 100%; height: 100vh; overflow: hidden;"></div>

{% endblock %}

{% block javascripts %}
    <!-- Phaser CDN -->
    <script src="https://cdn.jsdelivr.net/npm/phaser@3/dist/phaser.min.js"></script>

    <!-- Rutas globales para módulos -->
    <script>
        window.background_path = "{{ asset('images/ArrayRun') }}"; 
    </script>
    <!-- Path del menu -->
    <script>
        const MENU_URL = "{{ path('app_arrayrun') }}";
    </script>
    
    
    <!-- Script principal del juego -->
    <script type="module" src="{{ asset('js/ArrayRunScript/game.js') }}"></script>

    

{% endblock %}
