{% extends 'base.html.twig' %}

{% block title %}Edit Enemies{% endblock %}

{% block body %}
    <h1>Edit Enemies</h1>

    {{ include('enemies/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_enemies_index') }}">back to list</a>

    {{ include('enemies/_delete_form.html.twig') }}
{% endblock %}
