{% extends 'base.html.twig' %}

{% block title %}New Enemies{% endblock %}

{% block body %}
    <h1>Create new Enemies</h1>

    {{ include('enemies/_form.html.twig') }}

    <a href="{{ path('app_enemies_index') }}">back to list</a>
{% endblock %}
